@page
@model Intro.Pages.Index1Model
@{
    ViewData["Title"] = "Vinith's Razor Page";
}
<h3>Vinith Nair</h3>

<form>
    <input name="input1" placeholder="input 1" />
    <input name="input2" placeholder="input 2" />
    <input name="output" placeholder="output" />
    <button name="btn">Submit</button>
</form>